<!-- Sidebar -->
<aside id="sidebar" class="d-flex flex-column justify-content-between text-center border-end">
	<nav class="nav flex-column py-3">
		<!-- Top Links -->
		<a class="nav-link active" aria-current="page" href="/index.html" data-bs-toggle="tooltip" title="Recipes">
			<i class="fa-solid fa-book fa-2x"></i>
		</a>
		<a class="nav-link" href="/planner.html" data-bs-toggle="tooltip" title="Meal Planner">
			<i class="fa-solid fa-calendar fa-2x"></i>
		</a>
		<a class="nav-link" href="/grocery-list.html" data-bs-toggle="tooltip" title="Grocery List">
			<i class="fa-solid fa-basket-shopping fa-2x"></i>
		</a>
	</nav>

	<!-- Expand Drawer Button (default: invisible) -->
	<a id="expandBtn" class="link-dark invisible" type="button" data-bs-toggle="offcanvas" data-bs-target="#drawer"
		aria-controls="drawer" title="Expand drawer">
		<i class="fa-solid fa-angle-right"></i>
	</a>

	<!-- Bottom Links -->
	<footer class="nav flex-column py-3">
		<img src="/images/wave-192.png" alt="" width="24" class="mx-auto" data-bs-toggle="tooltip"
			title="Built by Team Ocean 🌊">
	</footer>
</aside>